body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
}

/** Header **/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
.navbar-brand{
	padding-top: 40px;
}
.navbar-brand h1{
	color: rgb(93, 80, 141);
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 0.75;
	text-shadow: 1px 1px 1px #222;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#navbarToggle {
	margin-top: 35px;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: #61122f;
	text-align: center;
	margin-top: 20px;
}
#nav-list a:hover {
	background-color: #E7E7E7;
}
#nav-list a span {
	font-size: 1.8em;
}
#phone{
	margin-top: 15px;
}
#phone a{
	text-align: right;
	padding-bottom: 0;
}
#phone div{
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}
#call-btn a{
	clear: both;
}
#call-btn a span {
	margin-top: 30px;
	margin-right: 5px;
}
#xs-deliver {
	margin-left: 5px;
}

/***********large device**********/
@media (min-width: 1200px){}

/***********medium device**********/
@media (min-width: 992px) and (max-width: 1199px){}

/***********extra small device**********/
@media (max-width: 767px){
	.navbar-brand{
		padding-top: 10px;
		height: 80px
	}
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;
		padding-bottom: 5px;
	}
	#bs-example-navbar-collapse-1 a {
		 font-size: 1.2em;
	}
	#bs-example-navbar-collapse-1 a  span{
		font-size: 1.2em;
		margin-right: 5px;
   }	
}